html
{
    background-color: #9e1c1c;
}

body
{
    border: thick #F2DE9D groove;
    width: 90%;
    max-width: 1100px;
}

/*
* Header Section
*/

.wide
{
    width:100%;
    height:250px;
    background-image:url('../images/fort_churchill_header.jpg');
    background-size:cover;
}

.wide img
{
    width:100%;
    height:100%;
}

.logo
{
    text-align: center;
    font-weight: bold;
    font-family: fantasy;
}

/* X-Small */
body
{

    min-width:360px;
}

#mainHeader
{
    font-size: 300%;
}


/* Small */
@media(min-width:768px)
{

    #mainHeader
    {
        font-size: 300%;


    }

    .textSizer
    {
        font-size: 150%;
    }

    #features_list li
    {
        font-size: 120%;

    }


}

/* Medium */
@media(min-width:992px)
{

    #mainHeader
    {
        font-size: 400%;
    }


}

/* Large */
@media(min-width:1200px)
{


    #mainHeader
    {
        font-size: 400%;
    }


}

.row-eq-height
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:      flex;
}

.textOffset
{
    padding-left: 5px;
}

/*
* Navigation Bar Section
*/

.mainContent
{
    border: 10px ridge #9e1c1c;

}



.navbar-default {
   background-color: #f2de9d;
   border-color: #c0392b;
}
.navbar-default .navbar-brand {
    color: #000000;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #000000;
}
.navbar-default .navbar-text {
    color: #000000;
}
.navbar-default .navbar-nav > li > a {
    color: #000000;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #000000;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #000000;
    background-color: #c0392b;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #000000;
    background-color: #c0392b;
}
.navbar-default .navbar-toggle {
    border-color: #c0392b;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #c0392b;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #000000;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #000000;
}
.navbar-default .navbar-link {
    color: #000000;
}
.navbar-default .navbar-link:hover {
    color: #000000;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #000000;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #000000;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #000000;
        background-color: #c0392b;
    }
}

#collapsemenu > ul > li > a
{
    color: black;
    font-size: 125%;
    text-decoration: underline;

}




/*
* Footer Section
*/

footer
{
    text-align: center;
    display: block;
}

.pageTitle
{
    text-align: center;
    margin-top: 0px;
    padding: 2% 10% 0% 10%;
}

.pageTitlePhone
{
    text-align: center;
    margin-top: 0px;
    padding: 0% 10% 5% 10%;
}


#features_photo_box_top > img, #features_photo_box_bottom > img
{
    width: 210px;
    height: 190px;
}

#features_list
{
    padding-left: 25px;
}

#features_list li
{
    margin: 5px 0px 0px 0px;
    font-size: 120%;

}

/*
* Prices Page
*/
#pricing_page_content
{
    height: 530px;
}

#pricing_left_div
{
    float: left;
    display: inline-block;
    width: 50%;
    height: 480px;
}

#pricing_right_div
{
    float: right;
    display: inline-block;
    width: 50%;
    height: 480px;
}

#pricing_photo_box_top > img, #pricing_photo_box_bottom > img
{
   min-height: 200px;
}

.pricing_photo_box_photo
{
    border: solid black 5px;
    margin: 0px;
}

#pricing_info
{
    margin-left: 10%;
    margin-right: 5%;
    font-family: sans-serif;
    font-size: large;
}

#pricing_table
{
    width: 85%;
    border-collapse: collapse;
    font-family: sans-serif;
    margin-left: 10%;
}
#pricing_table th, #pricing_table td
{
    font-size: 1.3em;
    border: 3px solid black;
    padding: 3px 7px 2px 7px;
}

#pricing_table th
{
    font-size: 1.4em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #c0392b;
    color: #ffffff;
}

#pricing_table tr.alt td
{
    color: #c0392b;
    background-color: #EAF2D3;
}

/*
* About Page
*/
#about_page_content
{
    height: 500px;
}

#about_left_div
{
    float: left;
    display: inline-block;
    width: 50%;
    height: 480px;
}
#about_left_div > h2
{
    margin: 5%;
}
#about_right_div
{
    float: right;
    display: inline-block;
    width: 50%;
    height: 480px;
}

#about_photo_box_top > img, #about_photo_box_bottom > img
{
    width: 310px;
    height: 210px;
}

.about_photo_box_photo
{
    border: solid black 5px;
    margin: 0px;
}

#about_info
{
    margin-left: 10%;
    margin-right: 5%;
    font-family: sans-serif;
    font-size: large;
}

.payments
{
    text-align: center;

}

form
{
    display: inline-block;
    text-align: center;
}

.paymentOption
{
    border: black 2px solid;
}

select
{
    width: 100%;
}

select option
{
    width: 100%;
}