html
{
    background-color: steelblue;
}

body
{
    border: thick #4851c9 groove;
    width: 90%;
    max-width: 1100px;
}

/*
* Header Section
*/

.wide
{
    width:100%;
    height:250px;
    background-image:url('../images/lahontan_header.jpg');
    background-size:cover;
}

.wide img
{
    width:100%;
    height:100%;
}

.logo
{
    text-align: center;
    font-weight: bold;
    font-family: fantasy;
}

/* X-Small */
body
{

    min-width:360px;
}

#mainHeader
{
    font-size: 300%;
}


/* Small */
@media(min-width:768px)
{

    #mainHeader
    {
        font-size: 300%;


    }

    .textSizer
    {
        font-size: 150%;
    }

    #features_list li
    {
        font-size: 120%;

    }


}

/* Medium */
@media(min-width:992px)
{

    #mainHeader
    {
        font-size: 400%;
    }


}

/* Large */
@media(min-width:1200px)
{


    #mainHeader
    {
        font-size: 400%;
    }


}

.equalHeightRow
{
    display: table;
}

.equalHeightRow
.panel {
    float: none;
    display: table-cell;
    vertical-align: top;
}

.row-eq-height
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:      flex;
}

.textOffset
{
    padding-left: 4%;
}

/*
* Navigation Bar Section
*/

.mainContent
{
    border: 10px ridge #4851c9;

}



.navbar-default {
   background-color: #c3c8c3;
   border-color: #4851c9;
}
.navbar-default .navbar-brand {
    color: #000000;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #000000;
}
.navbar-default .navbar-text {
    color: #000000;
}
.navbar-default .navbar-nav > li > a {
    color: #000000;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #000000;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #000000;
    background-color: #4851c9;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #000000;
    background-color: #4851c9;
}
.navbar-default .navbar-toggle {
    border-color: #4851c9;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #4851c9;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #000000;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #000000;
}
.navbar-default .navbar-link {
    color: #000000;
}
.navbar-default .navbar-link:hover {
    color: #000000;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #000000;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #000000;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #000000;
        background-color: #4851c9;
    }
}

#collapsemenu > ul > li > a
{
    color: black;
    font-size: 125%;
    text-decoration: underline;

}




/*
* Footer Section
*/

footer
{
    text-align: center;
    display: block;
}

.pageTitle
{
    text-align: center;
    margin-top: 0px;
    padding: 2% 10% 0% 10%;
}

.pageTitlePhone
{
    text-align: center;
    margin-top: 0px;
    padding: 0% 10% 5% 10%;
}


#features_photo_box_top > img, #features_photo_box_bottom > img
{
    width: 210px;
    height: 190px;
}

#features_list
{
    padding-left: 25px;
}

#features_list li
{
    margin: 5px 0px 0px 4%;
    font-size: 120%;

}

/*
* Prices Page
*/
#pricing_page_content
{
    height: 530px;
}

#pricing_left_div
{
    float: left;
    display: inline-block;
    width: 50%;
    height: 480px;
}

#pricing_right_div
{
    float: right;
    display: inline-block;
    width: 50%;
    height: 480px;
}

#pricing_photo_box_top > img, #pricing_photo_box_bottom > img
{
   min-height: 200px;
}

.pricing_photo_box_photo
{
    border: solid black 5px;
    margin: 0px;
}

#pricing_info
{
    margin-left: 10%;
    margin-right: 5%;
    font-family: sans-serif;
    font-size: large;
}

#pricing_table
{
    width: 85%;
    border-collapse: collapse;
    font-family: sans-serif;
    margin-left: 10%;
}
#pricing_table th, #pricing_table td
{
    font-size: 1.3em;
    border: 3px solid black;
    padding: 3px 7px 2px 7px;
}

#pricing_table th
{
    font-size: 1.4em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #4851c9;
    color: #ffffff;
}

#pricing_table tr.alt td
{
    color: #4851c9;
    background-color: #EAF2D3;
}

/*
* About Page
*/
#about_page_content
{
    height: 500px;
}

#about_left_div
{
    float: left;
    display: inline-block;
    width: 50%;
    height: 480px;
}
#about_left_div > h2
{
    margin: 5%;
}
#about_right_div
{
    float: right;
    display: inline-block;
    width: 50%;
    height: 480px;
}

#about_photo_box_top > img, #about_photo_box_bottom > img
{
    width: 310px;
    height: 210px;
}

.about_photo_box_photo
{
    border: solid black 5px;
    margin: 0px;
}

#about_info
{
    margin-left: 10%;
    margin-right: 5%;
    font-family: sans-serif;
    font-size: large;
}

.payments
{
    text-align: center;

}

form
{
    display: inline-block;
    text-align: center;
}

.paymentOption
{
    border: black 2px solid;
    height: 450px;
    #padding: 0px 2% 0px 2%;
    margin-top: 2%;
}

select
{
    width: 100%;
}

select option
{
    width: 100%;
}

.paypalButton {
    width: 170px; //change width of button here
    height: 32px;
    color: #2e3192;
    text-decoration: none;
    display: block;
    text-align: center;
    position: relative;

    /* BACKGROUND GRADIENTS */
    background: #FEE1A5;
    background: -moz-linear-gradient(top, #FFF, #FEE1A5 50%, #FFB829 51%,
    #FEE1A5 95%, #FEE1A5);
    background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0, #FFF), color-stop(.5, #FEE1A5), color-stop(.51, #FFB829),
    color-stop(.95, #FEE1A5), color-stop(.96, #FEE1A5), to(#FEE1A5));

    /* BORDER RADIUS */
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;

    border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFB829;
    border-left: 1px solid #FEE1A5;
    border-right: 1px solid #FEE1A5;

    /* TEXT SHADOW */

    text-shadow: 0px 1px 1px white;

    /* BOX SHADOW */
    -moz-box-shadow: 0 1px 3px #777;
    -webkit-box-shadow: 0 1px 3px #777;
    box-shadow: 0 1px 3px #777;
    font: italic bold 18px/32px helvetica, arial;
}

/* WHILE HOVERED */
.paypalButton:hover {
    background: #FEE1A5;
    background: -moz-linear-gradient(top, #FFF, #FEE1A5 50%,
    #FFB829 51%, #FEE1A5 95%, #FEE1A5);
    background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0, #FFF), color-stop(.5, #FEE1A5), color-stop(.51, #FFB829),
    color-stop(.95, #FEE1A5), color-stop(.96, #FEE1A5), to(#FEE1A5));
    -moz-box-shadow: 0 1px 2px black;
    -webkit-box-shadow: 0 1px 2px black;
}

/* WHILE BEING CLICKED */
.paypalButton:active
{
    -moz-box-shadow: 0 2px 6px black;
    -webkit-box-shadow: 0 2px 6px black;
}
